<h1>Task List</h1>
<a href="{% url 'task-create' %}">Create Task</a>
<ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.title }}</strong> - {{ task.description }}
            <a href="{% url 'task-update' task.id %}">Edit</a>
            <form action="{% url 'task-delete' task.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    <a href= "logout">Logout</a> 
</ul>
